<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coponline.azurewebsites.net/View/Login.aspx</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>paiwz6jrsa.database.windows.net</MSDeployServiceURL>
    <DeployIisAppPath>coponline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>
    </UserName>
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CouponsOnline.basicEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;User ID=sagibaz@paiwz6jrsa;Password=anhRui33" Name="Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;User Id=sagibaz@paiwz6jrsa;Password=anhRui33" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CouponsOnline.basicEntities, CouponsOnline" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="basicConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;Integrated Security=False;User ID=sagibaz@paiwz6jrsa;Password=Coupon123;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\basicConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:paiwz6jrsa.database.windows.net,1433;Database=coponline_db;User ID=sagibaz@paiwz6jrsa;Password=Coupon123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)basicConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CouponsOnline.basicEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;User Id=sagibaz@paiwz6jrsa;Password=anhRui33</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CouponsOnline.basicEntities" />
  </ItemGroup>
</Project>