<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coponline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coponline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>coponline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$coponline</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="basicEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;User ID=sagibaz@paiwz6jrsa;Password=anhRui33" Name="Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;User Id=sagibaz@paiwz6jrsa;Password=anhRui33" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CouponsOnline.basicEntities, CouponsOnline" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)basicEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:paiwz6jrsa.database.windows.net,1433;Initial Catalog=coponline_db;User Id=sagibaz@paiwz6jrsa;Password=anhRui33"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>